body .wrapper .main #main-section {
    text-align: center;

    main {
        display: flex;
    }

    #form {
        padding: 50px;
        min-height: 200px;
        background-color: rgb(160, 151, 151);
        color: whitesmoke;
    }

    #users {
        padding: 5px;
        min-height: 200px;
        background-color: rgb(120, 100, 100);
        color: whitesmoke;
        flex: 1;
    }

    #list {
        flex: 2;
        padding: 5px;
        list-style-type: none;

        li {
            border: 1px solid palevioletred;
            background-color: palevioletred;
            border-radius: 10px;
            width: 30%;
            padding: 3px;
            margin-bottom: 5px;
        }
    }
}