header 
  nav
    ul
      li
        a(href="/blog") ADD BLOG
      li
        a(href="/video") ADD VIDEO
      li
        a(href="/user") USERS
      li
        a(href="/api/blog?pretty") ALL BLOGs
      li
        a(href="/api/video?pretty") ALL VIDEOs
