head
    title tanas - admin
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='./resources/froala-wysiwyg-editor/css/froala_editor.min.css', type='text/css')
    link(rel='stylesheet', href='./resources/froala-wysiwyg-editor/css/froala_style.min.css', type='text/css')
    link(rel='stylesheet', href='./style.css', type='text/css')