//-scripts
script(src='./resources/js/jquery.min.js')
script(src='./resources/cryptojslib/rollups/md5.js')
script(src='./resources/cryptojslib/components/enc-base64-min.js')
script(src='./resources/froala-wysiwyg-editor/js/froala_editor.min.js')
script(src='./resources/froala-wysiwyg-editor/js/plugins/font_size.min.js')
script(src='./resources/froala-wysiwyg-editor/js/plugins/font_family.min.js')
script(src='./resources/froala-wysiwyg-editor/js/plugins/link.min.js')
script(src='./utils/logger.js')
script(src='./utils/template-loader.js')